body {
	background-image: url("../img/circles-light.png");
}

.card {

	position:relative;
	top: 25px;
	left: 25px;
	width: 550px;
	border-top: 5px solid grey;
	background-color: #ecf0f1;
	padding: 15px;
	display: inline-block;
	margin: 35px;

}

.card:hover {
	border-top: 5px solid blue;
	top: -1px;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}

.cards {
	margin:auto;

}

.images {
	position: relative;
	top: 0;
	left: 0;
	margin-right: 25px;
}

.images {
	float: left;
}

#scientist_pic {
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
}
#zoom_pic {
	position: absolute;
	top: 85px;
	left: 55px;
	z-index: 2;
}

#scientist_pic:hover {
	z-index: 1;
	opacity: 0.5;
}
p, a {
	font-size: 1.4rem;
}
